<h1>Random Beer</h1>

<div class="random-content-container">
	{{#each content}}
        <div class="randomImgBox">
            <img src="{{this.image_url}}" alt="Your random beer image">
        </div>

        <div class="randomBeerTextBox">
            <h3>{{this.name}}</h3>
            <h4>{{this.tagline}}</h4>
            <p>{{this.description}}</p>
            <p> <b>Food Pairing</b> </p>
            <p> {{this.food_pairing}} </p>        
            <p> <b>Brewers Tips: </b>{{this.brewers_tips}}</p>
        </div>
	{{/each}}
</div>

{{this.food_pairing}}